{% extends 'base.html.twig' %}

{% block title %}My users
{% endblock %}

{% block body %}

	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{% if not users is same as ([]) %}
			<div class="row row-cols-2">
				<h1 class="mt-2 col-md-4 ">List of users</h1>
				<div class="mt-4 col-md-4 offset-md-4">
					<a href="{{ path('user.new') }}" class="btn btn-success text-right">
						Add a new user
					</a>
				</div>
			</div>
			<div class="count mt-4 mb-2">There is
				{{users.getTotalItemCount}}
				user(s) in total</div>
			<table class="table table-hover align-middle">
				<thead>
					<tr class="table-primary">
						<th scope="col">First name</th>
						<th scope="col">Last name</th>
						<th scope="col">Email</th>
						<th scope="col">Birthday date</th>
						<th scope="col">Status</th>
						<th scope="col">Edit</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.firstName }}</td>
							<td>{{ user.lastName }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.birthdayDate|date('d-m-Y') }}</td>
							<td>
								<span class="badge bg-{{ user.active ? "success" : "danger" }}">{{ user.active ? "active" : "disable" }}</span>
							</td>
							<td>
								<a href="{{ path('user.edit', { id: user.id }) }}" class="btn btn-info">Edit</a>
							</td>
							<td>
								{% if user.active %}
									<a href="{{ path('user.delete', { id: user.id }) }}" class="btn btn-warning" onclick="return confirm('Are you sure?')">Delete</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
			<div class="navigation d-flex justify-content-center">
				{{ knp_pagination_render(users) }}
			</div>
		{% else %}
			<h1 class="mt-2">There is no users.</h1>
		{% endif %}
	</div>

{% endblock %}
